# macOS
.DS_Store
Icon
._*

# Windows
Thumbs.db
ehthumbs.db
*.stackdump
[Dd]esktop.ini

# Editor
*~
*.sw[a-z]

# IDE
.vscode/
.idea/
.ipynb_checkpoints/

# Python
__pycache__/
*.py[codz]
*$py.class
.venv/
.pytest_cache/
.ruff_cache/

# Golang
build/package/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Database
*.sqlite3
*.db

# Runtime
tmp/
*.log
*.lock
*.tmp
